[Desktop Entry]
Name=Stillum - URL Handler
Comment=Open source AI code editor.
GenericName=Text Editor
Exec=stillum --open-url %U
Icon=stillum
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/stillum;
Keywords=stillum;
